.app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--dashboard-bg-color);
  .app-main {
    position: relative;
    min-height: 100vh;
    .app-content {
      flex: 1;
      display: flex;
      padding: 0;
      flex-direction: column;
      width: 100%;
      &--inner {
        padding: 0rem 1.7rem;
        display: flex;
        flex: 1 1;
        padding-bottom: 1rem;
        &__wrapper {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
