body.theme-default {
  --primary-color: #01bac9;
  --primary-lite-color: #d9f5f7;
  --secondary-color: #777777;
  --teritary-color: #2fbace;
  --default-color: #333333;
  --dashboard-bg-color: #f4f5fa;
  --table-body-color: #125163;
  button.MuiButton-containedSecondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
  }
  button.MuiButton-containedPrimary {
    background-color: var(--primary-color);
  }
}

body.theme-dark {
  --primary-color: #222931;
}
