// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------
html {
  font-size: 14px;
  overflow: auto;
  overflow-x: hidden;
}
html,
body {
  font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.4 !important;
  letter-spacing: -0.1px !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  height: 100%;
  background-color: #fff;
  margin: 0;
}

.MuiFab-circular.MuiFab-primary {
  background-color: var(--primary-color) !important;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e6ebf5 #fff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6ebf5;
  border-radius: 20px;
}
