.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 !important;
  &-item .MuiListItemIcon-root {
    min-width: auto !important;
    svg {
      color: var(--secondary-color) !important;

      padding: 1rem 0;
      font-size: 1.8rem;
    }
  }
}
