.mui-input {
  display: flex;
  flex-direction: column;
  label {
    padding-bottom: 0.5rem;
  }
  .MuiTextField-root {
    margin-bottom: 1rem;
  }
  .MuiSvgIcon-root {
    color: var(--secondary-color);
  }
}
